<Configuration status="WARN">
    <CustomLevels>
        <CustomLevel name="JAVA-BINDER" intLevel="2" />
    </CustomLevels>
    <Appenders>
        <File name="FILE" fileName="blogs/${sys:log.name}-java-binder.log" append="true"
              immediateFlush="true" createOnDemand="true">
            <PatternLayout>
                <pattern>%d %-7level %-30logger{36} ==>   %msg%n</pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %-7level %-30logger{36} - %msg%n}{FATAL=red blink, ERROR=red blink, WARN=yellow bold, INFO=green bold, DEBUG=cyan, TRACE=black}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ipa" level="JAVA-BINDER" additivity="true">
            <AppenderRef ref="FILE" level="JAVA-BINDER" />
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="trace" />
            <AppenderRef ref="FILE" level="JAVA-BINDER" />
        </Root>
    </Loggers>
</Configuration>
