<Configuration status="WARN">
    <CustomLevels>
        <CustomLevel name="E2E" intLevel="2" />
    </CustomLevels>
    <Appenders>
        <File name="file-log" fileName="./${sys:log.folder}/${sys:log.name}-interaction.log" append="true"
              immediateFlush="true" createOnDemand="true">
            <PatternLayout>
                <pattern>%d %-7level %-30logger{36} ==>   %msg%n</pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %-7level %-30logger{36} - %msg%n}{FATAL=red blink, ERROR=red blink, WARN=yellow bold, INFO=green bold, DEBUG=cyan, TRACE=black}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="sogo" level="E2E" additivity="true">
            <AppenderRef ref="file-log" level="E2E" />
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console" level="trace" />
            <AppenderRef ref="file-log" level="E2E" />
        </Root>
    </Loggers>
</Configuration>